:root {
    --blue: #E4F5FC;
    --yellow: #FBD88F;
    --pink: #E08DAC;
    --green: #7AAD6C;
  }

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}

.section {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

h1{
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    margin-top: 12rem;
    line-height: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    position: sticky;
    background: inherit;
    top: 0;
    margin: 0 0 1rem 0;
    padding: 1rem 0 0.5rem 0;
}

h3{
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}

p, ul{
    font-size: 1.2rem;
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    background: black;
    color: white;
}

#arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: none;
    padding: 20px;
    animation: blinker 1.5s linear infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes blinker {
    0%{
        transform: translateY(0px) rotate(45deg);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    90%{
        transform: translateY(30px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateY(30px) rotate(45deg);
        opacity: 0;
    }
  }

/* Section Colors */
#intro { background: var(--green); 
padding: 0 !important;}
#mi_ez { background: var(--pink); }
#rolunk { background: var(--yellow); }
#hol { background: var(--blue); }
#kontakt { background: var(--green);} 


@media screen and (min-width: 600px) {
    h1{
        font-size: 5.5rem;
        margin-top: 250px;
        margin-top: 12rem;
    }
    h3{
        font-size: 2rem;
    }
    p, ul{
        font-size: 1.4rem;
    }
    
    .section {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 1000px) {
    h1{
        font-size: 7rem;
        margin-top: 10rem;
        line-height: unset;
    }
    h2{
        margin: 0 0 4rem 0;
        padding: 2rem 0 1rem 0;
    }
    h3{
        font-size: 4rem;
    }
    p, ul{
        font-size: 1.6rem;
    }
    
    
    .section {
        padding-left: 25%;
        padding-right: 25%;
    }
}